extends ../../layouts/default.pug

block main
    .container.my-3 
        .row 
            .col-12
                if(product.title)
                    h1(class="mb-4") #{product.title}

                if(product.price)
                    div(class="mb-4") Giá cũ: <b>#{product.price}$</b>

                if(product.discountPercentage)
                    div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>

                if(product.priceNew)
                    div(class="mb-4") Giá hiện tại: <b>#{product.priceNew}$</b>

                if(product.stock)
                    div(class="mb-4") Còn lại: <b>#{product.stock}</b>
                
                if (product.thumbnail)
                    div(class="mb-4")
                        img(
                            src=product.thumbnail 
                            style="width: 100px"
                        )
                if(product.description)
                    div(class="mb-4") Mô tả : !{product.description}

                form(
                    action=`/card/add/${product.id}`
                    method="POST"
                )
                    input(
                        class="form-control mb-2"
                        type="number"
                        name="quantity"
                        value="1"
                        min="1"
                        max=product.stock
                    )
                    button(
                        type="submit"
                        class="btn btn-success btn-block"
                    ) Thêm vào giỏ hàng