extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    +alert-error(5000)
    if(role.permissions.includes("products-category_create"))
        h1(class="mb-4") Tạo mới danh mục sản phẩm

        form(
            action =`${prefixAdmin}/products-category/create`
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="form-group")
                label(for="title") Danh mục cha
                select(
                    type="text"
                    class="form-control"
                    id="parent_id"
                    name="parent_id"
                )
                    option(value="") --Chọn danh mục cha--
                    if(records)
                        +select-tree(records)
            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                    class="form-control textarea-mce"
                    name="description"
                    id="desc"
                    rows="5"
                )
            div(
                class="form-group"
                upload-image
            )
                label(for="thumbnail") Ảnh
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                div(
                    class= "image-container"
                )
                    img(
                        src=""
                        upload-image-preview
                        class="image-preview"
                    )
                    button(id="button-close-image") X
                    
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-lable") Hoạt động 
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                )
                label(for="statusInactive" class="form-check-lable") Dừng hoạt động 
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tạo mới
    else 
        p Bạn không có quyền truy cập

    script(src="/admin/js/products.js") 