mixin formHidden(id, path)
    form(
        action=""
        method="POST"
        id=id
        data-path=path
    ) 

mixin formHiddenPermission(id, path)
    form(
        action=path
        method="POST"
        id=id
        class="d-none"
    )
        div(clas="form-group")
            input(
                type="text"
                class="form-control"
                name="permissions"
            )