extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head(pageTitle)

    .row 
      .col-12 
        button.chat-button
          i.fas.fa-comments
        .chat-widget
          .chat 
            .inner-body 
              .inner-comming 
                .inner-name Em Yêu
                .inner-content 
                  | A ơi sang nhà em nha, nhà em không có ai ở nhà cả
              .inner-outgoing
                .inner-content 
                  | Thế à ? Oki em iu

              .inner-comming 
                .inner-name Em Yêu
                .inner-content 
                  | Nhanh nha, nhanh nha
              .inner-outgoing
                .inner-content 
                  | Anh đến rồi nhưng có thấy ai ở cửa đâu? Nhà khóa cửa mà :(

              .inner-comming 
                .inner-name Em Yêu
                .inner-content 
                  | Thì em bảo khong có ai ở nhà mà :)
            .inner-foot
              form(
                class="inner-form"
                action=""
              )
                input(
                  type="text"
                  placeholder="Nhập nội dung...."
                  name="content"
                )
                button
                  i.fa-solid.fa-paper-plane

  script.
    document.querySelector('.chat-button').addEventListener('click', function() {
      var chatWidget = document.querySelector('.chat-widget');
      chatWidget.style.display = chatWidget.style.display === 'none' ? 'block' : 'none';
    });

