extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head(pageTitle)

    .row 
      .col-12 
        button.chat-button
          i.fas.fa-comments
        .chat-widget
          .chat(my-id = user.id)
            .inner-body 
              each chat in chats
                div(class=(chat.inforUser.id == user.id) ? "inner-outgoing" : "inner-comming")
                  if(chat.inforUser.id != user.id)
                    .inner-name #{chat.inforUser.fullname}
                  .inner-content 
                    | #{chat.content}
              div(class="inner-list-typing")
            .inner-foot
              form(
                class="inner-form"
                action=""
              )
                input(
                  type="text"
                  placeholder="Nhập nội dung...."
                  name="content"
                  autocomplete="off"
                )
                span(class="btn-icon") <i class="fa-solid fa-face-smile"></i> 
                button
                  i.fa-solid.fa-paper-plane

  script.
    document.querySelector('.chat-button').addEventListener('click', function() {
      var chatWidget = document.querySelector('.chat-widget');
      chatWidget.style.display = chatWidget.style.display === 'none' ? 'block' : 'none';
    });

  div(class="tooltip" role="tooltip")
    emoji-picker

