extends ../../layouts/default
include ../../mixins/table-tree.pug
include ../../mixins/alert.pug
include ../../mixins/formHidden.pug


block main
    +alert(4000) 
    +alert-error(4000) 

    if(role.permissions.includes("orders_view"))
        .container.my-3 
        .row 
            .col-12 
                h1 #{pageTitle}
        
        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT
                            //- th Mã đơn hàng cần fix
                            th Tên khách hàng
                            th Địa chỉ
                            th Tổng tiền
                            th Chi tiết
                            if(role.permissions.includes("orders_accept"))
                                th Hành động 
                    tbody
                        if(ordersAccept.length > 0)
                            each item, index in ordersAccept
                                tr 
                                    td #{index + 1}
                                    //- td CHEL-#{index + 1}
                                    td #{item.userInfo.fullName}
                                    td #{item.userInfo.address}
                                    td #{item.totalPrice}$
                                    if(role.permissions.includes("orders_view"))
                                        td 
                                            a(href=`${prefixAdmin}/orders/detail/${item.id}`) Chi tiết
                                    if(role.permissions.includes("orders_accept"))        
                                        td 
                                            a(
                                                class="btn btn-danger"    
                                                button-access
                                                id-item=item.id
                                            ) Not Logic

    +formHiddenAccept("form-accept", `${prefixAdmin}/orders/accept`)
                        
    // href=`/order/accept/`
    script(src="/admin/js/order.js") 