extends ../../layouts/default
include ../../mixins/table-tree.pug
include ../../mixins/alert.pug

block main
    +alert(4000) 
    +alert-error(4000) 

    if(role.permissions.includes("orders_view"))
        .container.my-3 
        .row 
            .col-12 
                h1 #{pageTitle}

        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT
                            th Mã đơn hàng
                            th Tên khách hàng
                            th Địa chỉ
                            th Tổng tiền
                            th Chi tiết
                            th Hành động
                    tbody
                        if(orders.length > 0)
                            each item, index in orders
                                tr 
                                    td #{index + 1}
                                    td CHEL-#{index + 1}
                                    td #{item.userInfo.fullName}
                                    td #{item.userInfo.address}
                                    td #{item.totalPrice}$
                                    if(role.permissions.includes("orders_view"))
                                        td 
                                            a(href=`${prefixAdmin}/orders/detail/${item.id}`) Chi tiết
                                    if(role.permissions.includes("orders_accpet"))        
                                        td 
                                            a(
                                                href=`/order/delete/`
                                                class="btn btn-success"    
                                            ) Duyệt
                                    else 
                                        td 
                                            span(class="btn btn-success") Duyệt
                        

    
    script(src="/js/cart.js") 