.row 
    .col-12 
        a(
            class="btn btn-primary m-1"
            href="/admin/users/not-friend"
        ) Danh sách người dùng
        a(
            class="btn btn-primary m-1"
            href="/admin/users/friends"
        ) Danh sách bạn bè
        a(
            class="btn btn-primary m-1"
            href="/admin/users/request"
        ) Lời mời đã gửi
        a(
            class="btn btn-primary m-1"
            href="/admin/users/accept"
        ) Lời mời kết bạn
